<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SinusCsharp.styles.css" asp-append-version="true" />
    <link rel="icon" href="./images/sinus-logo-symbol - small.png">
    <title>Confirmation</title>
</head>
<body>
    <div>
        <h2>Tack för din order! Den ligger snart i brevlådan</h2>
    </div>
    <a class="btn btn-primary" asp-controller="home" asp-action="index">Back to homepage</a>
</body>
</html>
